<html>
  <meta>
    <link rel="stylesheet" href="https://latex.now.sh/style.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
    <link rel="stylesheet" href="index.css">
  
    <link rel="icon" href="yaw.png" type="image/x-icon">

    <meta property="og:title" content="Website">
    <meta name="site:title" content="Riemann Hypothesis">

    <meta name="description" content="Just trying some stuff.">
    <meta property="og:description" content="Just trying some stuff.">
    <meta name="site:description" content="Just trying some stuff.">

    <meta property="og:image" content="https://images.unsplash.com/photo-1604863238778-c2380f6d0a96?ixlib=rb-1.2.1&dl=joana-abreu-nR355ppMAEM-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb">
    <meta name="site:image" content="https://images.unsplash.com/photo-1604863238778-c2380f6d0a96?ixlib=rb-1.2.1&dl=joana-abreu-nR355ppMAEM-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb">
    <title>"Riemann Hypothesis"</title>
  </meta>

<body>
    <p class="author">Bahn</p>
    <blockquote class="green">
      <b>Theorem</b> (Function rotation). Let $f$ be the function you want to rotate and $\theta$ be the angle counterclockwise from the $x$-axis you want to rotate it. Then the new function becomes 
      $$y\cos \theta-x\sin \theta=f\left(x\cos \theta+y\cos \theta\right).$$
    </blockquote>
  
    import { Application } from '@splinetool/runtime';

    const canvas = document.getElementById('canvas3d');
    const app = new Application(canvas);
    app.load('https://prod.spline.design/WfwYAiqKHyY7UcX5/scene.splinecode');


    A definition:
    <blockquote class="blue">
      <b>Definition</b> (Cube). A <i>cube</i> is a six-faced 3D object.
    </blockquote>
    
    {% include includes/math.html %}
    {% block content %}
      If \(p\) is a prime such that \( p \mid a^2 + b^2 \), \( p \equiv 1 \pmod{4} \).
    {% endblock %}
  
    <p align="left">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/63kUnlhbcGpjq7xfWjSPme?utm_source=generator&theme=0" width="70%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </p>
  
    <p align="right">
    <iframe src="https://tunein.com/embed/player/s303481/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
    </p>

</body>
</html>
